
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px;
}

.container{
    width: 700px;
    height: 300px;
    border: 2px solid mediumpurple;
}

.inner_container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rebeccapurple;
}

.inner_container_2{
    width: 100%;
    height: 200px;
    display: flex;
}

.audio_container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.audio_box{
    width: 200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rebeccapurple;
}

.color{
    color: mediumpurple;
}

.video_box{
    width: 220px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rebeccapurple;
}